<section class="testimonials container mx-auto flex px-14">
  <h2>{{title()}}</h2>
<div class="content">
  <p>{{text()}}</p>
<div class="carousel flex flex-wrap ">
  @for(card of testimonials(); track card.user_nickname) {
<mat-card class="w-1/6" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="bg-cover" [style.backgroundImage]="'url(' + card.user_avatar + ')'" ></div>
    <mat-card-title>{{card.user_nickname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{card.content}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>
  }
</div>

</div>
</section>
