<section class="hero flex backdrop-sepia-[0.5] backdrop-brightness-75 bg-orange-500/10 px-5">
  <div class="content flex-col w-1/2 my-10">
    <h1 class="text-6xl font-black drop-shadow-md text-transparent bg-clip-text text-white ">{{title()}}</h1>
    <p class="drop-shadow-md mr-10 text-white text-opacity-75">{{content()}}</p>
    <button matButton="elevated" class="flex items-center border rounded-lg px-2 py-1 border-white drop-shadow-md text-white hover:text-red-400 hover:bg-orange-100 hover:border-opacity-50">{{textButton()}}</button>
  </div>
  <div class="w-1/2 h-[100hv] bg-hero-pic bg-cover bg-no-repeat bg-65%-60%"></div>
</section>
