<section class="hero container mx-auto flex px-14">
  <div class="content flex-col w-1/2 my-10">
    <h1 class="text-6xl font-black drop-shadow-md text-transparent bg-clip-text text-white ">{{title()}}</h1>
    <p class="content-text drop-shadow-md my-10 mr-10 text-white text-opacity-75">{{content()}}</p>
    <button matButton="elevated" class="flex items-center border rounded-lg px-2 py-1 border-white drop-shadow-md text-white hover:text-red-400 hover:bg-orange-100 hover:border-opacity-50">{{textButton()}}</button>
  </div>
  <div class="w-1/2 h-[18rem] bg-hero-pic bg-70% bg-no-repeat bg-65%-55%"></div>
</section>
